.in_cloud_price > div:first-child,
.docker_price > div:first-child {
  display: inline-block;
  vertical-align: top;
  margin-right: 4px;
}

.in_cloud_price > div:last-child,
.docker_price > div:last-child {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
}
